@import '../variables.less';

.form-container {
    max-width: @max-width-form;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 20px 10px 20px;
    font-size: @font-size-form;
}

.form-field {
    background-color: @color-bg-inputs;
    line-height: @line-height-base;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    height: @line-height-base;
    width: 100%;
    border-bottom: @color-bg-inputs solid @width-bottom-border-active-field;

    input {
        background-color: @color-bg-inputs;
        color: @color-text-inputs;

        &::-webkit-input-placeholder { color: @color-text-inputs-placeholder; }
        &:-moz-placeholder { color: @color-text-inputs-placeholder; opacity:  1; }
        &::-moz-placeholder  { color: @color-text-inputs-placeholder; opacity:  1; }
        &:-ms-input-placeholder { color: @color-text-inputs-placeholder; }
        &::-ms-input-placeholder  { color: @color-text-inputs-placeholder; }

        width: 100%;
        height: @line-height-base;
        padding: 0;
        outline: none;
        border-width: 0px;
        font-size: @font-size-form;
        border-radius: @border-radius;

        height: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        margin: auto 0;
        padding: 0 10px;
    }

    &.active {
        border-bottom-color: @color-active-field;
    }
}

.form-fields {
    border-radius: @border-radius;
    padding-right: @width-extra-fields;
    float: left;
    height: auto;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.form-elements {
    height: auto;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    padding-right: @width-button;
    position: relative;
}

.location-field {
  float: left;
  max-width: @max-width-location-field;

  &:nth-child(1) {
    border-radius: @border-radius 0 0 @border-radius;
  }
}

.fixed-width-fields {
  width: @width-extra-fields;
  position: absolute;
  right: 0;
  display: inline-block;
  height: auto;
  box-sizing: border-box;
}

.date-range-field {
  width: 50%;

  display: inline-block;
  position: relative;
  float: left;

  .calendar-icon {
      width: 1.143em;
      height: 1.25em;

      position: absolute;
      top: 0; right: 0; bottom: 0; left: 10px;
      margin: auto 0;

      color: @color-active-field;
      z-index: 1;
  }

  input {
      padding-left: 40px; // Leave space for the calendar icon
  }
}

.extra-fields {
  width: 50%;
  display: inline-block;
  float: left;
  text-align: left;

  input {
    padding-right: 20px;
  }

  .down-arrow {
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 50%;
  }

  cursor: pointer;

  input:hover, &:hover {
    cursor: pointer;
  }
}

@media (max-width: @threshold-width-medium) {
  .form-fields {
    padding-right: 0;
  }

  .location-field {
    max-width: none;

    &:nth-child(1) {
      border-radius: @border-radius 0 0 0;
    }

    &:nth-child(2) {
      border-radius: 0 @border-radius 0 0;
    }
  }

  .form-elements {
    padding-right: 0;
  }

  .fixed-width-fields {
    width: 70%;
    position: relative;
    padding-right: 0;
    overflow: hidden;
    float: left;
    border-radius: 0 0 0 @border-radius;
  }
}

@media (max-width: @threshold-width-small) {
  .form-elements {
    padding-right: 0;
  }

  .fixed-width-fields {
    width: 100%;
    position: relative;
    padding-right: 0;
    overflow: hidden;
    float: left;
    border-radius: 0;
  }
}

