width: 100%;
min-width: @min-width;
background-color: @bg-color;
color: @primary-text-color;
font-family: @font-family;

.row {
    height: @line-height;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    box-sizing: border-box;
}

.headline {
  font-size: @headline-font-size;
  text-align: center;
  line-height: @line-height;
}


.radio {
    margin: 0;

    .radio-label {
        display: inline-block;
    }
}

