// Colors:
@bg-color: #E4E5EA;
@primary-text-color: 424242;
@inputs-bg-color: #fff;
@inputs-text-color: 424242;
@placeholder-text-color: #9a9ca8;
@active-color: #DF6D4B;
@button-color: @active-color;
@button-text-color: #fff;

// Fonts
@font-family: Helvetica, Arial, sans-serif;
@headline-font-size: 26px;
@form-font-size: 15px;

@border-width: 2px;
@line-height: 56px;
@border-radius: 5px;
@button-width: 125px;
@date-range-field-width: 200px;
@extra-fields-width: 300px;
@location-field-max-width: 600px;
@form-max-width: calc(@location-field-max-width + @date-range-field-width + @button-width);

.stn-widget {
    // Base styles:
    background-color: @bg-color;
    width: 100%;

    color: @primary-text-color;
    font-family: @font-family;

    .row {
        height: @line-height;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        position: relative;
        box-sizing: border-box;
    }

    .headline {
        font-size: @headline-font-size;
        text-align: center;
        padding: 10px 0 20px;
        line-height: @line-height;
    }

    .form-container {
        max-width: @form-max-width;
        display: block;
        margin: 0 auto;
        width: 100%;
        height: auto;
        padding: 10px 20px;
        font-size: @form-font-size;
    }

    .form-fields {
        border-radius: @border-radius;
        float: left;
        height: 100%;
        position: relative;
        width: 100%;
        box-sizing: border-box;
    }

    .form-field {
        background-color: @inputs-bg-color;
        line-height: @line-height;
        height: 100%;
        display: inline-block;
        position: relative;
        box-sizing: border-box;
        height: @line-height;

        input {
            background-color: @inputs-bg-color;
            color: @inputs-text-color;

            &::-webkit-input-placeholder { color: @placeholder-text-color; }
            &:-moz-placeholder { color: @placeholder-text-color; opacity:  1; }
            &::-moz-placeholder  { color: @placeholder-text-color; opacity:  1; }
            &:-ms-input-placeholder { color: @placeholder-text-color; }
            &::-ms-input-placeholder  { color: @placeholder-text-color; }

            width: 100%;
            height: @line-height;
            padding: 0;
            outline: none;
            border-width: 0px;
            font-size: @form-font-size;
            border-radius: @border-radius;

            height: auto;
            position: absolute;
            top: 0; left: 0; bottom: 0; right: 0;
            margin: auto 0;
            padding: 0 10px;
        }

        &.active {
            border-bottom: @active-color solid @border-width;
        }

        &.round-left {
            border-radius: @border-radius 0 0 @border-radius;
        }

        &.round-right {
            border-radius: 0 @border-radius @border-radius 0;
        }
    }

    .date-range-field {
      width: @date-range-field-width;

      display: inline-block;
      position: relative;

      .calendar-icon {
          width: 1.143em;
          height: 1.25em;

          position: absolute;
          top: 0; right: 0; bottom: 0; left: 0;
          margin: auto 0;

          color: @active-color;
          z-index: 1;
      }

      input {
          padding-left: 30px; // Leave space for the calendar icon
      }
    }

    .submit-button {
        background-color: @button-color;
        width: @button-width;
        height: 100%;
        border-radius: @border-radius;
        text-align: center;
        line-height: @line-height;
        position: absolute;
        right: 0;

        span {
            color: @button-text-color;
            display: inline-block;
            vertical-align: middle;
        }

        &:hover {
            cursor: pointer;
            background-color: darken(@button-color, 6%);
        }

        -webkit-transition: background-color 300ms;
        -moz-transition: background-color 300ms;
        -o-transition: background-color 300ms;
        transition: background-color 300ms;
    }

    // Vertical specific styles
    #hotel-form {
        .form-fields {
            padding-right: @extra-fields-width;
        }

        .hotel-form-elements {
          padding-right: @button-width;
          position: relative;
        }

        .location-field {
          float: left;
          width: 100%;
          max-width: @location-field-max-width;
        }

        .fixed-width-fields {
          width: @extra-fields-width;
          position: absolute;
          right: 0;
        }

        .date-range-field {
          width: 50%;
          display: inline-block;
          float: left;
        }

        .extra-fields {
          width: 50%;
          display: inline-block;
          float: left;
          &:hover {
              cursor: pointer;
          }
        }

        .submit-button {
            border-radius: 0 @border-radius @border-radius 0;
        }
    }
}
