// Colors:
@bg-color: #E4E5EA;
@primary-text-color: 424242;
@inputs-bg-color: #fff;
@inputs-text-color: 424242;
@placeholder-text-color: #9a9ca8;
@active-color: rgb(255, 133, 23);
@button-color: @active-color;
@button-text-color: #fff;
@tabs-bg-color: darken(@bg-color, 8%);
@active-tab-bg-color: white;
@tabs-color: @primary-text-color;

// Fonts
@font-family: Helvetica, Arial, sans-serif;
@headline-font-size: 26px;
@form-font-size: 15px;

// Vertical pickers
@options-height: 30px;
@tabs-width: 80px;
@tabs-font-size: @form-font-size;

@border-width: 2px;
@line-height: 45px;
@border-radius: 5px;
@button-width: 125px;
@date-range-field-width: 200px;
@extra-fields-width: 310px;
@location-field-max-width: 600px;
@form-max-width: calc(@location-field-max-width + @date-range-field-width + @button-width);

@two-rows-threshold: 700px;
@three-rows-threshold: 600px;

.stn-widget {
    // Base styles:
    background-color: @bg-color;
    width: 100%;

    color: @primary-text-color;
    font-family: @font-family;

    form {
      margin: 0;
    }

    .row {
        height: @line-height;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        position: relative;
        box-sizing: border-box;
    }

    .headline {
        font-size: @headline-font-size;
        text-align: center;
        line-height: @line-height;
    }

    .options {
      height: @options-height;
      z-index: 1;

      .tabs {
        height: 100%;
        overflow: hidden;
      }

      .tab {
        display: inline-block;
        width: @tabs-width;
        height: 100%;
        line-height: 100%;
        font-size: @tabs-font-size;
        text-align: center;
        position: relative;
        border-left: 0px;
        background-color: @tabs-bg-color;

        span {
          -ms-transform: translate(-50%, -50%); // For IE9
          transform: translate(-50%, -50%);
          top: 50%;
          position: absolute;
          color: @tabs-color;
        }

        &:hover {
            cursor: pointer;
            background-color: darken(@tabs-bg-color, 8%);
        }

        &.active {
          background-color: @active-tab-bg-color;
        }

        -webkit-transition: background-color 200ms;
        -moz-transition: background-color 200ms;
        -o-transition: background-color 200ms;
        transition: background-color 200ms;
      }
    }


    .form-container {
        max-width: @form-max-width;
        display: block;
        margin: 0 auto;
        width: 100%;
        height: auto;
        padding: 0 20px 10px 20px;
        font-size: @form-font-size;
    }

    .hotel-form-elements {
        height: auto;
        width: 100%;
        display: inline-block;
        box-sizing: border-box;
    }

    .form-fields {
        border-radius: @border-radius;
        float: left;
        height: auto;
        position: relative;
        width: 100%;
        box-sizing: border-box;
    }

    .form-field {
        background-color: @inputs-bg-color;
        line-height: @line-height;
        display: inline-block;
        position: relative;
        box-sizing: border-box;
        height: @line-height;
        width: 100%;
        border-bottom: @inputs-bg-color solid @border-width;

        input {
            background-color: @inputs-bg-color;
            color: @inputs-text-color;

            &::-webkit-input-placeholder { color: @placeholder-text-color; }
            &:-moz-placeholder { color: @placeholder-text-color; opacity:  1; }
            &::-moz-placeholder  { color: @placeholder-text-color; opacity:  1; }
            &:-ms-input-placeholder { color: @placeholder-text-color; }
            &::-ms-input-placeholder  { color: @placeholder-text-color; }

            width: 100%;
            height: @line-height;
            padding: 0;
            outline: none;
            border-width: 0px;
            font-size: @form-font-size;
            border-radius: @border-radius;

            height: auto;
            position: absolute;
            top: 0; left: 0; bottom: 0; right: 0;
            margin: auto 0;
            padding: 0 10px;
        }

        &.active {
            border-bottom-color: @active-color;
        }

        &.round-left {
            border-radius: @border-radius 0 0 @border-radius;
        }

        &.round-right {
            border-radius: 0 @border-radius @border-radius 0;
        }
    }

    .date-range-field {
      width: @date-range-field-width;

      display: inline-block;
      position: relative;

      .calendar-icon {
          width: 1.143em;
          height: 1.25em;

          position: absolute;
          top: 0; right: 0; bottom: 0; left: 10px;
          margin: auto 0;

          color: @active-color;
          z-index: 1;
      }

      input {
          padding-left: 40px; // Leave space for the calendar icon
      }
    }

    .submit-button {
        background-color: @button-color;
        background-image: -webkit-linear-gradient(@button-color, darken(@button-color, 8%));
        background-image: -o-linear-gradient(@button-color, darken(@button-color, 8%));
        background-image: linear-gradient(@button-color, darken(@button-color, 8%));
        width: @button-width;
        height: @line-height;
        border-radius: @border-radius;
        text-align: center;
        line-height: @line-height;
        position: absolute;
        right: 0;
        overflow: hidden;

        span {
            color: @button-text-color;
            display: inline-block;
            vertical-align: middle;
        }

        &:hover {
            cursor: pointer;
            background-color: darken(@button-color, 8%);
            background-image: none;
        }
    }

    .tooltip {
      border: 1px solid #d3d3d3;
      position: absolute;
      background: @inputs-bg-color;
      border: 1px solid #d3d3d3;
      width: 170px;
      border-radius: @border-radius;
      text-align: left;
      display: block;
      top: 56px;
      padding: 10px 20px;
      left: 50%;
      line-height: 28px;

      -ms-transform: translate(-50%); // For IE9
      transform: translate(-50%);

      .count {
        display: block;
        padding: 5px 0;
      }

      .count-label {
        text-align: left;
        display: inline-block;
      }

      .count-changer {
        display: inline-block;
        font-weight: bold;
        float: right;
        font-size: 0px;
        height: 28px;
      }

      .count-changer * {
        display: inline-block;
      }

      .count-button {
        color: @active-color;
        width: 20px;
        border: 1px solid #d3d3d3;
        text-align: center;
        background-color: @bg-color;
        background-image: linear-gradient(white, @bg-color);
        font-size: @form-font-size;
      }

      .count-button-minus {
        border-radius: @border-radius 0 0 @border-radius;
      }

      .count-button-plus {
        border-radius: 0 @border-radius @border-radius 0;
      }

      .count-value {
        width: 25px;
        border: 1px solid #d3d3d3;
        border-width: 1px 0 1px 0;
        text-align: center;
        font-size: @form-font-size;
      }

      &:after, &:before {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }

      &:after {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }

      &:after {
        border-bottom-color: @inputs-bg-color;
        border-width: 7px;
        margin-left: -7px;
      }

      &:before {
        border-bottom-color: #d3d3d3;
        border-width: 8px;
        margin-left: -8px;
      }
    }

    // Vertical specific styles
    #hotel-form {
        .form-fields {
            padding-right: @extra-fields-width;
        }

        .hotel-form-elements {
          padding-right: @button-width;
          position: relative;
        }

        .location-field {
          float: left;
          width: 100%;
          max-width: @location-field-max-width;
        }

        .fixed-width-fields {
          width: @extra-fields-width;
          position: absolute;
          right: 0;
          display: inline-block;
          height: auto;
          box-sizing: border-box;
        }

        .date-range-field {
          width: 50%;
          display: inline-block;
          float: left;
        }

        .extra-fields {
          width: 50%;
          display: inline-block;
          float: left;
          text-align: left;

          input:hover {
              cursor: pointer;
          }
        }

        .submit-button {
            border-radius: 0 @border-radius @border-radius 0;
        }
    }

    @media (max-width: @two-rows-threshold) {
      #hotel-form {
        .form-fields {
          padding-right: 0;
        }

        .location-field {
          max-width: none;
          border-radius: @border-radius @border-radius 0 0;
        }

        .hotel-form-elements {
          padding-right: 0;
        }

        .fixed-width-fields {
          width: 70%;
          position: relative;
          padding-right: 0;
          overflow: hidden;
          float: left;
          border-radius: 0 0 0 @border-radius;
        }

        .submit-button {
          bottom: 0;
          border-radius: 0 0 @border-radius 0;
          width: 30%;
        }
      }
    }

    @media (max-width: @three-rows-threshold) {
      #hotel-form {
        .hotel-form-elements {
          padding-right: 0;
        }

        .fixed-width-fields {
          width: 100%;
          position: relative;
          padding-right: 0;
          overflow: hidden;
          float: left;
          border-radius: 0;
        }

        .submit-button {
          position: relative;
          display: inline-block;
          border-radius: 0 0 @border-radius @border-radius;
          width: 100%;
        }
      }
    }
}
