// Colors:
@bg-color: #E4E5EA;
@primary-text-color: 424242;
@inputs-bg-color: #fff;
@inputs-text-color: 424242;
@placeholder-text-color: #9a9ca8;
@active-color: rgb(255, 133, 23);
@button-color: @active-color;
@button-text-color: #fff;
@tabs-bg-color: darken(@bg-color, 8%);
@active-tab-bg-color: white;
@tabs-color: @primary-text-color;

// Fonts
@font-family: Helvetica, Arial, sans-serif;
@headline-font-size: 26px;
@form-font-size: 15px;

// Vertical pickers
@options-height: 30px;
@tabs-width: 80px;
@tabs-font-size: @form-font-size;

@border-width: 2px;
@line-height: 45px;
@border-radius: 5px;
@button-width: 125px;
@date-range-field-width: 200px;
@extra-fields-width: 310px;
@location-field-max-width: 600px;
@form-max-width: calc(@location-field-max-width + @date-range-field-width + @button-width);

@two-rows-threshold: 700px;
@three-rows-threshold: 450px;

@min-width: 315px;