// Shared variables

// Colors:
@color-bg-widget: #E4E5EA;
@color-bg-inputs: #fff;
@color-bg-tabs: darken(@color-bg-widget, 8%);
@color-bg-tabs-active: @color-bg-inputs;
@color-active-field: #FF8517;
@color-button: @color-active-field;
@color-text-button: #fff;
@color-text-inputs-placeholder: #9a9ca8;
@color-text-inputs: @color-text-primary;
@color-text-primary: #424242;
@color-text-tabs: @color-text-primary;

// Fonts
@font-family: Helvetica, Arial, sans-serif;
@font-size-headline: 26px;
@font-size-form: 15px;
@font-size-tabs: @font-size-form;

// Vertical pickers
@height-form-options: 30px;

@width-tabs: 80px;
@width-button: 125px;
@width-bottom-border-active-field: 2px;
@width-date-range-field: 200px;
@width-extra-fields: 400px;
@max-width-location-field: 700px;
@max-width-form: calc(@max-width-location-field + @width-date-range-field + @width-button);
@min-width-widget: 315px;


@line-height-base: 45px;
@border-radius: 5px;

@threshold-width-medium: 860px;
@threshold-width-small: 450px;
