.form-options {
  height: @height-form-options;
  z-index: 1;

  .tabs {
    height: 100%;
    overflow: hidden;
  }

  .tab {
    display: inline-block;
    width: @width-tabs;
    height: 100%;
    line-height: 100%;
    font-size: @font-size-tabs;
    text-align: center;
    position: relative;
    border-left: 0px;
    background-color: @color-bg-tabs;

    span {
      -ms-transform: translate(-50%, -50%); // For IE9
      transform: translate(-50%, -50%);
      top: 50%;
      position: absolute;
      color: @color-text-tabs;
    }

    &:hover {
        cursor: pointer;
        background-color: darken(@color-bg-tabs, 8%);
    }

    &.active {
      background-color: @color-bg-tabs-active;
    }

    -webkit-transition: background-color 200ms;
    -moz-transition: background-color 200ms;
    -o-transition: background-color 200ms;
    transition: background-color 200ms;
  }
}